.sectionC {
 margin: auto;
 padding: 70px;
 /* max-width: fit-content; */
 background-color: #f1fbff;
 background-size: cover;
}

.h2-sectionc {
 text-align: justify;
 color: #003470;
 font-weight: bolder;
}

.card-sectionc {
 margin: auto;
 display: flex;
 justify-content: center;
}


.benefit-content {
 color: #ffffff;
 text-align: center;
}

.sectionc-h4 {
 color: #003470;
 font: 17px;
 line-height: 38px;
}